LATITUDE=19.4326
LONGITUDE=-99.1332
TIMEZONE=auto

BASE_URL=https://api.open-meteo.com/v1/forecast
HOURLY_FIELDS=temperature_2m,precipitation

DB_PATH=data/database/weather_cdmx.db
LOG_DIR = "data/logs"