# Entorno virtual y variables de entorno
venv/
.env

# Caché de Python
__pycache__/
*.pyc

# Logs
data/logs/
*.log

# Datos brutos y procesados
data/raw/
data/processed/
data/final/
data/database/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/